@import "tailwindcss";

@theme {
  --color-primary: #002664;
  --color-secondary: #F2A900;
  --color-accent: #FFFFFF;
  
  --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Lora", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

body {
  font-family: var(--font-sans);
  color: #333333;
  background-color: #f8fafc;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  color: var(--color-primary);
}
